
$black-normal: #130d0d;
$black-light: #1f1f1f;

$grey-normal: #F6F6F6;
$grey-light: #f0f0f0;
$grey-dark: rgb(216, 216, 216);
$other-grey-light: #57676b;
$other-grey-normal: #829499;
$other-grey-dark: #4C6066;
$other-green: #52838A; 
$other-grey-very-dark: #1C2E33;
$other-blue: #85BDCC;
$other-blue-light: #73E1FF;
$other-blue-dark: #24aed4;

$white-normal: #fff;
