* {
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#projects {
  scroll-margin-top: 76px;
}

#main {
  scroll-margin-top: 90px;
}

body {
  font-family: "Bitter", sans-serif;
  z-index: 1;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto; 
}

.hero {
  color: #fff;
  justify-content: space-between;
  display: flex;
  padding-top: 50px;
  padding: 140px;
}
.hero p {
  color: #fff;
}
.hero h3 {
  font-size: 26px;
  color: #895ace;
}
.hero h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 5px;
}
.hero p {
  font-size: 20px;
  max-width: 600px;
  font-weight: 300;
}

.first-content-hero {
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0px 20px 0px 20px;
}

.second-content-hero {
  padding: 0px 20px 0px 20px;
}

.p-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  word-spacing: 10px;
}

.social-icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 18px;
}
.social-icons i {
  font-size: 30px;
  color: #fff;
}

.social-icons a:hover {
  color: #895ace;
}

.hero-button {
  padding: 12px 70px 12px 70px;
  border: 1.5px solid #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: 0.6s;
}

.hero-button:hover {
  background-color: #895ace;
  border: #895ace;
  opacity: 1;
}

.tools {
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tools-title {
  padding: 40px 0 70px 0;
  color: #a66dfb;
  font-size: 16px;
}

.tools-description {
  padding: 50px 40px 50px 40px;
  display: flex;
  gap: 70px;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.programming-tools {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.programming-tools p {
  max-width: 100px;
  font-size: 18px;
  font-weight: 500;
  color: #895ace;
}

.tool-box {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
  background-color: #a575ee;
  font-size: 15px;
  color: #fff;
  border-radius: 6px;
}
.tool-box h3 {
  font-size: 22px;
  font-weight: 500;
}

.line {
  width: 30px;
  height: 1.2px;
  background-color: #594c66;
}

.programming-box {
  display: flex;
}

.about {
  background: url(assets/fundo-500px.jpg) no-repeat center center;
  height: 500px;
  width: 100%;
  background-size: cover;
}

.about-container {
  text-align: left;
  padding: 40px;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 1500px;
  padding: 80px 140px 0px 140px;
}

.about-description {
  padding: 20px;
  line-height: 25px;
}
.about-description p {
  max-width: 750px;
  font-size: 18px;
  font-weight: 400;
}

.about-title {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.about-title h2 {
  color: #4C6066;
  font-size: 32px;
  max-width: 240px;
}
.about-title h3 {
  font-weight: 600;
  color: #52838A;
}

.project-section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: -5;
}

.project-title {
  background-color: #261c33;
  color: #fff;
  padding: 40px;
  text-align: center;
  font-size: 18px;
}
.project-title h2 {
  padding: 10px;
  background-color: #5c4c66;
  width: 210px;
  margin: 0 auto;
  border-radius: 20px;
}

.container-project {
  display: flex;
  flex-direction: column;
  gap: 95px;
}

.projects {
  color: #fff;
  background-color: #3f0056;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 10px 100px 10px;
}

:last-child.each-project {
  flex-direction: row-reverse;
  text-align: right;
}
:last-child.each-project .container-project {
  gap: 110px;
}
:last-child.each-project p {
  align-items: right;
  margin-left: auto;
}
:last-child.each-project .img-project {
  position: relative;
  max-height: 390px;
}

.each-project {
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
.each-project p {
  max-width: 600px;
  font-size: 18px;
  font-weight: 300;
}
.each-project .container-project {
  width: 50%;
  line-height: 30px;
}
.each-project .img-project {
  width: 50%;
  max-height: 390px;
}
.each-project .img-project img {
  height: 100%;
}
.each-project h2 {
  color: #fff;
  font-weight: bolder;
  font-size: 28px;
}
.each-project a {
  color: #73E1FF;
}

.projects-link i {
  padding: 0 5px 0 5px;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

@media screen and (max-width: 1550px) {
  .each-project {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    gap: 100px;
  }
  .each-project .container-project {
    margin: 0 auto;
    width: 100%;
    align-items: center;
  }
  .each-project .img-project {
    margin: 0 auto;
    min-width: 662px;
    height: 400px;
  }
  :last-child.each-project {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  :last-child.each-project p {
    margin: 0 auto;
  }
  :last-child.each-project .container-project {
    gap: 60px;
  }
  .projects-link i {
    padding: 0 0px 0 0px;
  }
  .container-project {
    gap: 60px;
  }
}
@media screen and (max-width: 1350px) {
  .projects {
    padding-top: 40px;
  }
  .first-content-hero {
    width: 100%;
    text-align: center;
  }
  .first-content-hero h3 {
    padding-bottom: 10px;
  }
  .hero {
    flex-direction: column;
    gap: 100px;
    padding: 70px;
  }
  .hero .profile-img {
    width: 400px;
    margin: 0 auto;
  }
  .first-content-hero {
    align-items: center;
    justify-content: center;
  }
  .p-hero {
    align-items: center;
  }
  .container {
    word-spacing: 10px;
  }
  .p-hero {
    gap: 40px;
  }
  .tools-description {
    gap: 20px;
  }
  .about h2 {
    font-size: 22px;
  }
  .about p {
    font-size: 16px;
  }
  .footer-contact .contact p {
    font-size: 18px;
    font-weight: 400;
  }
  .footer-contact .contact h2 {
    font-size: 26px;
  }
  .footer-contact .contact :last-child {
    font-weight: 300;
  }
}
@media screen and (max-width: 999px) {
  .first-content-hero h1 {
    font-size: 30px;
  }
  .first-content-hero p {
    font-size: 18px;
  }
  .each-project .container-project {
    margin: 0 auto;
    width: 600px;
  }
  .projects {
    gap: 0px;
  }
  .tools {
    height: 570px;
  }
  .tools-description {
    flex-wrap: wrap;
    gap: 40px;
  }
  .html {
    flex-grow: 1;
  }
  .css {
    flex-basis: 50%;
  }
  .js {
    flex-grow: 1;
  }
  .sass {
    flex-basis: 50%;
  }
  .line {
    display: none;
  }
  .about-container {
    padding: 60px 40px 0px 40px;
  }
  .hero {
    padding: 40px;
  }
}
@media screen and (max-width: 820px) {
  .first-content-hero h1 {
    font-size: 32px;
    text-align: center;
  }
  .first-content-hero h3 {
    font-size: 24px;
  }
  .first-content-hero p {
    font-size: 18px;
  }
  .project-title h2 {
    font-size: 20px;
  }
  .projects {
    gap: 80px;
    padding: 40px;
  }
  .projects h2 {
    font-size: 20px;
  }
  .projects p {
    font-size: 16px;
  }
  .projects .each-project .img-project {
    min-width: 500px;
    max-width: 500px;
    min-height: 306px;
    max-height: 306px;
  }
  .projects .each-project .img-project img {
    height: 100%;
  }
  .each-project {
    padding: 0;
  }
  .each-project .container-project {
    margin: 0 auto;
    max-width: 400px;
  }
  .footer-contact .contact p {
    font-size: 16px;
  }
  .footer-contact .contact h2 {
    font-size: 24px;
  }
  .about-container {
    flex-direction: column;
  }
  .about-title {
    gap: 5px;
  }
  .about-description p {
    font-size: 14px;
  }
}
@media screen and (max-width: 620px) {
  .projects {
    gap: 140px;
  }
  .projects .each-project .img-project {
    min-width: 380px;
    min-height: 200px;
    max-height: 230px;
  }
  .projects .each-project .img-project img {
    height: 100%;
  }
  .profile-img {
    max-width: 300px;
  }
  .profile-img img {
    width: 300px;
  }
  .hero {
    padding-bottom: 0;
    padding: 40px;
    gap: 140px;
  }
  .first-content-hero {
    margin-top: 0;
  }
  .first-content-hero h1 {
    font-size: 26px;
    text-align: center;
  }
  .footer-contact .contact {
    padding: 10px;
  }
  .about {
    height: 740px;
  }
  .tool-box {
    width: 120px;
    font-size: 12px;
  }
  .tool-box h3 {
    font-size: 16px;
  }
  .programming-tools {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 107px;
  }
  .programming-tools p {
    font-size: 16px;
  }
  .css {
    flex-basis: 50%;
  }
  .sass {
    flex-basis: 50%;
  }
  .tools {
    height: 500px;
  }
}
@media screen and (max-width: 528px) {
  .each-project .container-project {
    width: 100%;
  }
  .projects .each-project .img-project {
    min-width: 300px;
    min-height: 200x;
    max-height: 200px;
  }
  .each-project p {
    font-size: 14px;
  }
  .each-project a {
    font-size: 14px;
  }
  .css {
    flex-basis: 42%;
  }
  .sass {
    flex-basis: 42%;
  }
  .footer-contact .contact p {
    font-size: 14px;
  }
}
.footer-contact {
  text-align: center;
  justify-content: center;
  padding: 40px;
}

.contact {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact p {
  font-size: 18px;
}
.contact :nth-child(2) {
  max-width: 750px;
  margin: 0 auto;
}
.contact .social-icons-footer i {
  color: #a572e3;
  margin: 10px;
  font-size: 30px;
}

.button-contact {
  padding: 14px 20px;
  color: #fff;
  background-color: #a660df;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto;
  width: 200px;
  border-radius: 14px;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
.body-form {
  background: url(/assets/fundo-form.jpg) no-repeat center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Bitter", serif;
  padding: 0 1rem 0 1rem;
}

.h-form {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  padding: 20px 20px 40px 20px;
  max-width: 700px;
  font-weight: 500;
}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.25rem;
  border: 4px solid #85BDCC;
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  margin-bottom: 40px;
}

.form label,
.form input,
.form textarea,
.form {
  display: block;
  width: 100%;
}

.form label {
  color: #7FADB4;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #BBE0E5;
  transition: border-color, box-shadow 0.2s;
  font-size: 1.1rem;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #85BDCC;
  box-shadow: 0 0 0 3px #85BDCC;
}

.form button {
  display: block;
  padding: 1rem;
  background: #56B8C6;
  font: inherit;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #24aed4;
}

.p-form {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px 20px 4px 20px;
}

.form-button {
  position: relative;
  display: flex;
  padding: 10px;
  color: #73E1FF;
  margin: 0 auto;
}

.home-button {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  padding: 3rem 0 3rem 0;
}
.home-button a {
  font-size: 1.4rem;
}
.home-button i {
  color: #fff;
  font-size: 1.4rem;
}
.home-button a:hover {
  text-decoration: underline;
}

.ty-home {
  text-align: center;
  align-items: center;
}
.ty-home a, .ty-home i {
  color: #73E1FF;
}

.h-ty {
  font-size: 2.6rem;
}

.span {
  color: #24aed4;
}

.span-project {
  color: #85BDCC;
}

.span-description {
  color: #64576b;
  font-weight: bold;
}

button {
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s;
  font-size: 18px;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2e0347;
  height: 8vh;
}

main {
  background-color: #3f0056;
  background-size: cover;
  height: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 40px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  .menu a {
    position: fixed;
    z-index: 99;
  }
  .mobile-menu {
    position: fixed;
    right: 0;
  }
  body, html {
    overflow-x: hidden;
    position: relative;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 92vh;
    background: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 99;
  }
  .nav-list a {
    color: #130d0d;
  }
  .nav-list li {
    margin-left: 0;
    padding-right: 58px;
    opacity: 0;
  }
  .nav-list li:nth-child(1) {
    padding-right: 81px;
  }
  .nav-list li:nth-child(3) {
    padding-right: 81px;
  }
  .mobile-menu {
    display: block;
    z-index: 99;
  }
  .logo {
    text-shadow: 1px 1px 5px rgb(66, 66, 66);
  }
}
.nav-list.active {
  transform: translateX(0);
  position: fixed;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  box-shadow: 1px 1px 5px rgb(66, 66, 66);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
  box-shadow: 1px 1px 5px rgb(73, 73, 73);
}/*# sourceMappingURL=style.css.map */